/* The animation code */
@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}
code, pre {
    background-color: #f6f6f6;
    padding: 5px;
}
.box {
    border: 1px solid black;
    height: 40px;
    width: 40px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
}

